@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
:root {
    /* Цвет фона - градиент */
    --gradient: linear-gradient(to bottom, #394253, #181C27)no-repeat;
    --color_text: rgba(255, 255, 255, 0.65);
    /*Shadow,*/
    --shadow: -10px -10px 20px #48506342,
        10px 10px 20px #171c25;
    /*Inner shadow*/
    --innerShadow: inset -5px -5px 10px #48506342, inset 5px 5px 10px #171c25;
}
*{
    box-sizing: border-box;/*border-box - Значения width/height задают высоту/ширину всего элемента*/
    margin:0;/*убрать отступы по умолчанию*/
    padding:0;
    
}
li{
    list-style-type: none;/*отменяет маркері для списка*/
}

input{outline: none;}/*delete outlines for inputs*/

body {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background: var(--gradient);
    height: 100vh;
    color: var(--color_text);
    display: flex;
    flex-direction: column;
    /*меняем ось направления елементов в body c горизонтали на вертикаль*/
    justify-content: center;
    align-items: center;
}
h2{
    margin-bottom: 40px;
}
/*Calculator elements*/
.calculator {
    
}
.calculator_item {
    display: flex;
}
.calculator_item:not(:last-child) {
    margin-bottom: 20px;
}

.calculator_input {
    font-size: 36px;
    color: var(--color_text);
    background: none;
    /*delete default style background for input*/
    border: none;
    /*delete default style background for input*/
    box-shadow: var(--innerShadow);
    border-radius: 12px 0px 0px 12px;
    padding: 16px 26px;
    height: 76px;
  
}
.calculator_selectbox .selectbox_selected{
    border-radius: 0px 12px 12px 0px;
}
/* Selectbox */
.selectbox {
    position: relative;   
    z-index: 0;
    transition: z-index 0s 0.3s;/*при убирании выпад списка*/
}
.selectbox_opened{
    z-index: 2;
    transition: z-index 0s 0s;/*при убирании выпад списка*/
}

/*Class that will be display our drop-down list - selectbox_list*/
/*Style for opened selectbox - selectbox_opened */
.selectbox_opened .selectbox_list{
    /*sets the maximum height of an element*/
    max-height: 500px;
    top: 100%;
}
/* Selectbox_opened is class modificator for selectbox_arrow*/
.selectbox_opened .selectbox_arrow{
 transform:rotate(-180deg);
}
.selectbox_selected {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 76px;
    height: 76px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
/*Class that will flip arrow with animation*/

.selectbox_arrow {
    margin-left: 8px;
    transition: all 0.3s ease-in-out ;
}

.selectbox_list {
    text-align: center;
    position: absolute;
    /* отступ сверху */
    top: 0;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    max-height: 0;/*sets the maximum height of an element*/
    overflow: hidden;
    box-shadow:var(--shadow);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out ;
    background: var(--gradient);
}
.selectbox_list ul{
    padding: 8px 0;
}
.selectbox_list li {
    padding: 8px 0;
    cursor: pointer;
}
.selectbox_list li.active{
cursor: default;
}
/* Set conditions for hovered li element */
.selectbox_list li.active,
.selectbox_list li:hover{
    background: var(--gradient);
}